version: "3.9"
services:
  react:
    build: 
      context: .
      args: 
        USER_UID: ${USER_UID:-1000}
        USER_GID: ${DEV_GID:-1000}
    user: ${DEV_UID:-1000}:${DEV_GID:-1000}
    tty: true
    ports:
      - 3000:3000
    volumes:
      - .:/project