/* Container holding the image and the text */
.management-container {
  position: relative;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
}
.management-container-image {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  background-image: url("../images/undraw_operating_system.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100px;
}