.torunamentInfo-block-left {
    width: 48%;
    float:left;
    background-color: var(--primary-main);
    margin-right: 10%;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    padding: 1%;
}
.torunamentInfo-block-right {
    width: 40%;
    float:right;
}
.torunamentInfo-block-left ul {
    list-style-type: none;
}
.torunamentInfo-calendar {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
}